<div class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top opacity-75">
    <div class="container">
      <a class="navbar-brand" routerLink="/Home-component" routerLinkActive="active">COFFEETABLE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link btn-outline-secondary" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-outline-secondary" routerLink="/signup.component">Signup</a>
          </li>
        </ul>
      </div>
    </div>
</div>