 <app-header></app-header>
 <div class="bg-image" 
style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
       height: 100vh">
 

  <div class="container-fluid body-content clearfix">
      <div class="wrapper">
          <div class="page-content-wrapper">
              <div class="page-content inset">
                  <div class="row">
                      <div class="col-md-12">
                          <router-outlet></router-outlet>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div> 

<app-footer></app-footer>
